In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000
1885,tt0192255,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,10/27/2000,6.4,2000
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,4.0,2000
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,5.2,2000
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,5.2,2000

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # dictionary for answers

data['profit'] = data['revenue'] - data['budget'] # adding profit column to data df

def cut_string(string):#  cuts strings on values by '|' .
    result = string.str.split('|')
    return result

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'# +
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
biggest_budget = data[data.budget == data.budget.max()]
biggest_budget

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

ВАРИАНТ 2

In [7]:
biggest_budget_a = data.loc[data.budget.idxmax()]['original_title']
biggest_budget_a

'Pirates of the Caribbean: On Stranger Tides'

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)' # +

In [9]:
longest_film = data[data.runtime == data.runtime.max()]
longest_film

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
shortest_film = data[data.runtime == data.runtime.min()]
display(shortest_film )

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000

In [11]:
answers['3'] = 'Winnie the Pooh (tt1449283)'

# 4. Какова средняя длительность фильмов?

In [12]:
mean_runtime = data['runtime'].mean()
print(mean_runtime)

answers['4'] = 110 # +

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [13]:
median_runtime = data['runtime'].median()
print(median_runtime)

answers['5'] = 107 # +

107.0

#6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [14]:
best_profit_film = data.loc[data['profit'] == data['profit'].max()]
display(best_profit_film)

answers['6'] = 'Avatar (tt0499549)' # +

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [15]:
worst_profit_film = data.loc[data['profit'] == data['profit'].min()]
display(worst_profit_film)

answers['7'] = 'The Lone Ranger (tt1210819)' # +

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [16]:
profitable_films = data['imdb_id'][(data['profit'] > 0)].count()
print(profitable_films)

answers['8'] = 1478 # +

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [17]:
movies_08 = data[data['release_year'] == 2008]
maxi_release_movie = movies_08.loc[movies_08.revenue.idxmax()]['original_title']
display(maxi_release_movie)

answers['9'] = 'The Dark Knight (tt0468569)' # +

'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [18]:
worst = data.loc[data[(data['release_year'].isin(range(2012, 2015)))].profit.idxmin()]['original_title']
display(worst)

answers['10'] = 'The Lone Ranger (tt1210819)' # +

'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [19]:
genres = cut_string(data.genres)                
genres_summary = Counter(genres.sum()) # counting values
print(genres_summary.most_common(1))

answers ['11'] = 'Drama' # +

[('Drama', 782)]

ВАРИАНТ 2

In [20]:
Counter(data.genres.str.split('|').sum()).most_common(1)

[('Drama', 782)]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [21]:
profit_films = data.query('profit > 0')
profit_genre = Counter(profit_films.genres.str.split('|').sum()).most_common(1) 
print(profit_genre)
answers ['12'] = 'Drama' # +

[('Drama', 560)]

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [22]:
director_revenue = data.groupby(['director'])['revenue'].sum()
director_revenue = director_revenue.reset_index()
golden_director = director_revenue.loc[director_revenue.revenue.idxmax()]['director']
display(golden_director)

answers ['13'] = 'Peter Jackson'# +

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [23]:
action_movies = data.copy()
action_movies = action_movies[action_movies.genres.str.contains('Action', na=False)] #filtering by "Action" genre
action_movies.director = cut_string(action_movies.director) #cutting groups of directors 
action_movies = action_movies.explode('director') # each director gets its line
active_director = action_movies.groupby(['director'])['imdb_id'].count().sort_values(ascending=False).head(1)
print(active_director)

answers ['14'] = 'Robert Rodriguez' # +

director
Robert Rodriguez    9
Name: imdb_id, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [24]:
best_revenue = data.copy()
best_revenue = best_revenue[best_revenue.release_year == 2012] # filtering df on year of release
best_revenue.cast = cut_string(best_revenue.cast) # cutting cast groups
best_revenue = best_revenue.explode('cast') # each actor gets its line
golden_actor = best_revenue.groupby(['cast'])['revenue'].sum().sort_values(ascending=False).head(1)
print(golden_actor)

answers ['15'] = 'Chris Hemsworth'# +

cast
Chris Hemsworth    2027450773
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [25]:
high_budget = data.copy()
high_budget = high_budget[high_budget.budget >= high_budget.budget.mean()] # cutting of df above budget.mean  
high_budget.cast = cut_string(high_budget.cast) # cutting cast groups
high_budget = high_budget.explode('cast') # each actor gets its line
pricey_actor = high_budget.groupby(['cast'])['imdb_id'].count().sort_values(ascending=False).head(1)
print(pricey_actor)

answers ['16'] = 'Matt Damon' # +

cast
Matt Damon    18
Name: imdb_id, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [26]:
movies = data.copy()
movies = movies[movies.cast.str.contains('Nicolas Cage', na=False)] # filtering only Nicolas movies
movies.genres = cut_string(movies.genres) # cutting grous of genres
movies = movies.explode('genres') # each genre gets its line
nicolas_genre = movies.groupby(['genres'])['imdb_id'].count().sort_values(ascending=False).head(1)
print(nicolas_genre)

answers ['17'] = 'Action'# +

genres
Action    17
Name: imdb_id, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [27]:
paramount_movies = data.copy() 
paramount_movies = paramount_movies[paramount_movies.production_companies.str.contains('Paramount Pictures', na=False)] # filter movies of Paramount Pictures&co
paramount_movies.production_companies = cut_string(paramount_movies.production_companies) # cutting groups of production companies
paramount_movies = paramount_movies.explode('production_companies') # each company gets its line
worst_paramount_movie = paramount_movies.query('production_companies in ["Paramount Pictures"]') # filter movies of Paramount Pictures
worst_paramount_movie = worst_paramount_movie[(worst_paramount_movie['profit'] == worst_paramount_movie['profit'].min())]
display(worst_paramount_movie)

answers ['18'] = 'K-19: The Widowmaker (tt0267626)'# +

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures,7/19/2002,6.0,2002,-64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [28]:
movies = data.copy() 
movies = movies.groupby('release_year')['revenue'].sum().sort_values(ascending=False).head(1)
display(movies) 

answers ['19'] = 2015 # +

release_year
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [29]:
movies = data.copy()
movies = movies[movies.production_companies.str.contains('Warner Bros', na=False)] # filer movies of Warner Bros&co
movies.production_companies = cut_string(movies.production_companies)
movies = movies.explode('production_companies')
movies = movies[movies.production_companies.str.contains('Warner Bros', na=False)] # filer movies of Warner Bros
movies = movies.groupby('release_year')['revenue'].sum().sort_values(ascending=False).head(1)
display(movies)

answers ['20'] = 2014 # +

release_year
2014    3246549646
Name: revenue, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [30]:
movies = data.copy()
movies.release_date = movies.release_date.str.split('/') # splitting date string on elements
month = movies.release_date.apply(lambda x: x[0]) # choosing element of month
movies['release_month'] = month # new column for df of number of month
movies_month = movies.groupby('release_month')['imdb_id'].count().sort_values(ascending=False).head(1)
display(movies_month)

answers ['21'] = 'сентябрь' # +

release_month
9    227
Name: imdb_id, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [31]:
movies = data.copy()
movies.release_date = movies.release_date.str.split('/')
month = movies.release_date.apply(lambda x: x[0])
movies['release_month'] = month
summer_movies = movies.query('release_month in ["6", "7", "8"]') # filtering on summer months 
q = summer_movies['imdb_id'].count()
print(q)

answers ['22'] = 450 # +

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [32]:
winter_movies = data.copy() 
winter_movies.release_date = winter_movies.release_date.str.split('/')
month = winter_movies.release_date.apply(lambda x: x[0])
winter_movies['release_month'] = month
winter_movies = winter_movies.query('release_month in ["1", "11", "12"]') # filtering on winter months 
winter_movies.director = cut_string(winter_movies.director)
winter_movies = winter_movies.explode('director')
winter_director = winter_movies.director.value_counts().sort_values(ascending=False).head(1)
print(winter_director)

answers ['23'] = 'Peter Jackson' # +

Peter Jackson    8
Name: director, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [33]:
movies = data.copy()
movies['len_title'] = movies.original_title.apply(lambda x: len(x)) # new column with lenght of titles in symbols
movies.production_companies = cut_string(movies.production_companies)
movies = movies.explode('production_companies')
longest_titles_co = movies.groupby('production_companies')['len_title'].mean().sort_values(ascending=False).head(1)
display(longest_titles_co)

answers ['24'] ='Four By Two Productions' # +

production_companies
Four By Two Productions    83.0
Name: len_title, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [34]:
movies = data.copy()
movies['words_overview']= movies.overview.str.split(' ').apply(lambda x: len(x)) # splitting on words separated on " ", return quantity of words 
movies.production_companies = cut_string(movies.production_companies)
movies = movies.explode('production_companies')
many_words_co = movies.groupby('production_companies')['words_overview'].mean().sort_values(ascending=False).head(1)
print(many_words_co)

answers ['25'] = 'Midnight Picture Show' # +

production_companies
Midnight Picture Show    175.0
Name: words_overview, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [35]:
movie = data.copy() 
best_percent = movie[movie['vote_average']> movie['vote_average'].quantile(0.99)] # filtering df above 0.99 quantile
best_percent = best_percent[['original_title','vote_average']].sort_values(by = 'vote_average', ascending=False)
display(best_percent)

answers ['26']= 'Inside Out, The Dark Knight, 12 Years a Slave' # +

                                     original_title  vote_average
599                                 The Dark Knight           8.1
9                                        Inside Out           8.0
34                                             Room           8.0
118                                    Interstellar           8.0
125                              The Imitation Game           8.0
119                         Guardians of the Galaxy           7.9
128                                       Gone Girl           7.9
138                        The Grand Budapest Hotel           7.9
370                                       Inception           7.9
872                                     The Pianist           7.9
1081  The Lord of the Rings: The Return of the King           7.9
1183                        The Wolf of Wall Street           7.9
1191                               12 Years a Slave           7.9
1800                                        Memento           7.9

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [36]:
import itertools
movies = data.copy()
movies.cast = cut_string(movie.cast) 
movies['cast_pairs'] = movies.cast.apply(lambda x: list(itertools.combinations(x, 2))) # column of pair combinations with no duplicates of actors 
pairs = movies['cast_pairs'].tolist() # list to see the combination objects
pairs_list = list(itertools.chain(*pairs)) # making list flat
pairs_summary = Counter(pairs_list) # adding counter
display(pairs_summary.most_common(1))

answers ['27'] = 'Daniel Radcliffe & Rupert Grint' # +

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

# Submission

In [37]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': 2015,
 '20': 2014,
 '21': 'сентябрь',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [38]:
# и убедиться что ни чего не пропустил)
len(answers)

27